body {
    font-family: 'Poppins', sans-serif;
}

.card-body .bestseller {
    text-align: center;
    width: 100px;
    background-color: rgba(235, 197, 72, 0.726);
    border-radius: 5px;
}

.card-title {
    font-size: 1.2rem;
}

.card-body p {
    padding: 0 !important;
    margin-bottom: 0.4rem;
    line-height: 1.8;
}

.card-body {
    height: 230px;
    position: relative;
}

.bestseller {
    position: absolute;
    right: 5px;
    top: 0;
}

.card-body button {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%, 0);
}

.card-body .price {
    font-weight: bold;
    font-size: 1.1rem;
}